:root {
    --body-bg: #f0f2f5;
    --container-bg: #fff;
    --text-color: #333;
    --button-bg: #007bff;
    --button-hover-bg: #0056b3;
    --number-bg: #4CAF50;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s ease;
}

body.dark-mode {
    --body-bg: #1a1a1a;
    --container-bg: #2b2b2b;
    --text-color: #f0f2f5;
    --button-bg: #0056b3;
    --button-hover-bg: #007bff;
    --number-bg: #5a9a5d;
}

.container {
    background-color: var(--container-bg);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: var(--text-color);
    margin-bottom: 20px;
}

.numbers-container {
    display: flex;
    flex-direction: column; /* Changed to column to stack lines */
    align-items: center; /* Center items horizontally */
    gap: 10px;
    margin-bottom: 30px;
    color: var(--text-color);
}

.number-line {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px; /* Space between lines */
}

.number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--number-bg);
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#generate-btn {
    background-color: var(--button-bg);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#generate-btn:hover {
    background-color: var(--button-hover-bg);
}

/* Theme Switch */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; /* Added gap */
    margin-bottom: 20px;
    color: var(--text-color); /* Apply text color variable */
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
